p {
  margin: 16px auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: url(../Fondos/Fondo1.jpg) fixed;
  background-size: cover;
  background-position: center;
  color: #ededed;
  margin: 0px 0px 35px 0px;
  width: 100%;
}

nav {
  background-color: black;
  color: white;
  padding: 10px 0px;
  text-align: center;
  list-style: none;
}

#header-title {
  font-size: 20px;
  position: relative;
  top: 20px;
  margin: auto;
}

header {
  margin-top: 40px;
  height: 450px;
  text-align: center;
  display: flex;
}

.section1 {
  color: #333333;
  background-color: #04ff9b;
}

.section2 {
  background-color: #d619b3;
  color: #ffffff;
}

.section3 {
  background-color: #6d00fc;
  color: #ffffff;
}

.article1 {
  background-color: #6699cc;
  color: #ffffff;
}

.article2 {
  background-color: #3366cc;
  color: #333333;
}

.article3 {
  background-color: #003366;
  color: #ffffff;
}

main {
  max-width: 900px;
  margin: auto;
  background: #0e0e0edb;
  text-align: center;
  border: 1px solid #252525;
  outline: 20px solid #070707d6;
  width: 80%;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 0px solid #ba0909;
  border-radius: 12px;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#b31414));
  background: -moz-linear-gradient(top, #000000, #b31414);
  background: linear-gradient(to bottom, #000000, #b31414);
  font: normal normal bold 20px trebuchet ms;
  color: #ffffff;
  text-decoration: none;
}

.button:hover,
.button:active,
.button:focus {
  border: 0px solid #ff0e0e;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#d71818));
  background: -moz-linear-gradient(top, #000000, #d71818);
  background: linear-gradient(to bottom, #000000, #d71818);
  color: #ffffff;
  text-decoration: none;
}

code {
  color: #e4cb58;
  font: inherit;
}

figure {
  margin: 0 auto;
  padding: 0;
}

picture {
  display: flex;
  justify-content: center;
}

img {
  max-width: 90%;
}

iframe {
  display: block;
  margin: 0 auto;
}

.footer1 {
  background-color: #ffd700;
  color: #000000;
  text-align: center;
}

.footer2 {
  background-color: rgb(67, 0, 250);
  text-align: center;
}

.footer3 {
  background-color: rgb(37, 126, 1);
  text-align: center;
}

.ImgBack {
  margin-left: 25px;
  width: 10%;
}

table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.img1 {
  width: 200px;
  height: 167px;
}

table td img {
  display: block;
  margin: 0 auto;
}

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  color: black;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

button_formulario {
  padding: 10px 20px;
  background-color: #005b05;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button_formulario:hover {
  background-color: #005b05;
}

fieldset legend {
  color: black;
  font-style: normal;
  font-weight: bold;
}
